body {
    margin: 0;
    padding: 0;
}

.topBar {
    height: 120px;
    background-color: #c7ecee;
    width: auto;
    margin-bottom: 150px;
}

.flexbox {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.flex {
    margin: 30px;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: black;
    height: 60px;
}

.link {
    text-decoration: none;
}

.ad {
    border: 3px solid #c7ecee;
    height: 500px;
    margin-bottom: 50px;
}

.flexbox2 {
    display: flex;
    justify-content: center;
}

.adText {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 200px
}

.text1 {
    margin-left: 100px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    margin-bottom: 100px
}

.product {
    border: 3px solid #c7ecee;
}

.flexbox3 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}