body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.topBar {
    height: 120px;
    background-color: #9a9efa;
    width: auto;
    margin-bottom: 150px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topBar2 {
    height: 120px;
    background-color: #9a9efa;
    width: auto;
    margin-bottom: 150px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 0px;
}

.flexbox {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.flex {
    margin: 30px;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    height: 80px;
    font-size: 50px;
}

.link {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.link2 {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.ad {
    border: 3px solid #686de0;
    height: 500px;
    margin-bottom: 50px;
}

.flexbox2 {
    display: flex;
    justify-content: center;
}

.adText {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #686de0;
}

.text1 {
    margin-left: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-bottom: 100px;
    color: #686de0;
}

.product {
    border: 3px solid #686de0;
    
}

.flexbox3 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.text2 {
   
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-bottom: 200px;
    text-align: center;
    color: #686de0;
}
.productpagepicture {
    height: 400px;
}

.flexbox4 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}
.price {
    margin-left: 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #686de0;
}
.text3 {
   
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 60px;
    padding: 0px;
    color: #686de0;
}
.text4 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-left: 60px;
    padding: 0px;
    color: #686de0;
}
.image-container {
    height: 600px;
    width: 2000px;
    border: 5px solid #686de0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.link2 {
    text-decoration: none;
    border: 3px solid #686de0;
}

.text5 {
   
    font-family: 'Rubik', sans-serif;
 font-size: 30px;
 color: #686de0;
 margin: 5px;
 text-align: center;
      
}

.flex2 {
    
    font-family: 'Rubik', sans-serif;
    color: #686de0;
    height: 60px;
}

#grid1 {
    display: grid;
    grid-template-areas: 
     "a b c"
     "d e f"
     "g h i"
     "j k l";
     gap: 30px;
     grid-template-rows: auto auto auto;
     grid-template-columns: auto auto auto;
}


.a {grid-area: a;
    height: 316px;
    margin: 20px;
    border: 3px solid #686de0;}
.b {grid-area: b;
    height: 316px;
    margin: 20px;
    border: 3px solid #686de0;}
.c {grid-area: c;
    height: 316px;
    margin: 20px;
    border: 3px solid #686de0;}
.d {grid-area: d;
    height: 50px;
    margin: 20px;}
.e {grid-area: e;
    height: 50px;
    margin: 20px;}
.f {grid-area: f;
    height: 50px;
    margin: 20px;}
    .g {grid-area: g;
        height: 316px;
        margin: 20px;
        border: 3px solid #686de0;}
    .h {grid-area: h;
        height: 316px;
        margin: 20px;
        border: 3px solid #686de0;}
    .i {grid-area: i;
        height: 316px;
        margin: 20px;
        border: 3px solid #686de0;}
    .j {grid-area: j;
        height: 50px;
        margin: 20px;}
    .k {grid-area: k;
        height: 50px;
        margin: 20px;}
    .l {grid-area: l;
        height: 50px;
        margin: 20px;}
    


.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 310px;
    }

.centertxt {
    text-align: center;
}

.buy-button {
    margin-left: 60px;
    border-radius: 6px;
    margin-top: 25px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 60px;
    width: 100px;
    background-color: #686de0;
    border: 1px solid #686de0;
}

.footer {
    background-color: #9a9efa;
    width: 2000px;
    height: 200px;

}

.logo2 {
    height: 0px;
    padding-left: 1500px;
}

.footerText {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
}