body {
    margin: 0;
    padding: 0;
}

.topBar {
    height: 120px;
    background-color: #686de0;
    width: auto;
    margin-bottom: 150px;
}

.flexbox {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.flex {
    margin: 30px;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: black;
    height: 60px;
}

.link {
    text-decoration: none;
}

.ad {
    border: 3px solid #686de0;
    height: 500px;
    margin-bottom: 50px;
}

.flexbox2 {
    display: flex;
    justify-content: center;
}

.adText {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 200px
}

.text1 {
    margin-left: 100px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    margin-bottom: 100px
}

.product {
    border: 3px solid #686de0;
    
}

.flexbox3 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.text2 {
   
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    margin-bottom: 200px
}
.productpagepicture {

    height: 400px;
    border: 3px solid #686de0;
}

.flexbox4 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}
.price {
    margin-left: 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}
.text3 {
   
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    margin-left: 60px;
    padding: 0px;
}
.text4 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    margin-left: 60px;
    padding: 0px;
}
.image-container {
    height: 750px;
    width: 1750px;
    border: 3px solid #686de0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}